.form-content, .form, .form-row{
    width: 96%;
    background: transparent;
}
.form-inputs, .form-input, .form-label{
    outline:none;
    background:transparent;
    color:#FFFEF2;
    resize: none;
}
.form-label{
    font-size: 1.7rem;
    font-weight: 300;
}
.form-row{
    display: flex;
    margin-top: 1%;
    margin-bottom: 4%;
}
.form-inputs{
    display: grid;
    width: 100%;
    padding: 0 6% 0 0px;
}

.form-input{
    font-size: 1rem;
    min-height: 28px;
    margin-top: 2px;
    border: none;
    border-bottom: 1px solid #75DED7;
    text-decoration:none !important;
    outline: none !important;
    -webkit-appearance:none;
    box-shadow:none;
}
textarea#comment{
     transition: 0.6s;
}
.form-input:focus, .form-input:active, .form-input:after, .form-input:before{
    -webkit-appearance:none !important;
    box-shadow:none !important;
    text-decoration:none !important;
    outline:none !important;
    border-bottom: 2px solid #75DED7;
}

select option{
    background:#1E1E1E;
    color:#FFFEF2;
}

.form-input-btn{
    border: 1px solid #75DED7;
    background: #75DED7;
    color: #ffffff;
    font-size: 1.7rem;
    padding: 1px 20px;
    border-radius: 1px;
    cursor: pointer;
    outline: none;
    font-weight: 300;
}

.form-input-btn:disabled {
    opacity: 0.8;
    cursor: no-drop;
}

.form-input-btn:hover{
    color: #75DED7;
    background: #ffffff;
}

#form-contain-btn{
    display: block;
    text-align: right;
    width: 90%;
}

.input-error{
    color: red;
    font-size: 15px;
    padding: 2px 0;
    position: absolute;
    margin-top: 5.2rem;
    font-weight: 400;
    font-style: italic;
    animation-name: error;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-family: Abel;
}

@keyframes error{
    from{
        text-shadow: none;
    }
    to{
        text-shadow: 1px 1px 7px black;
    }
}

#comment ~ .input-error{
    padding: 0px 0;
}

.navbar-container {
display: flex;
justify-content: space-between;
height: 80px;
}

.navbar.active{
    background: #000000;
    color: #FFFEF2;
    transition: all 0.4s ease-out;
    padding-top: 0;
    height: 85px;
}

.navbar.active .navbar-container, .navbar.active .navbar-container .navbar-logo, .navbar.active .nav-menu .nav-item ,.navbar.active .nav-menu .nav-item .nav-links{
    background: transparent;
    color: #FFFEF2;
}

.container {
    z-index: 1;
    width: 100%;
    max-width: 94%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 120px;
    padding-left: 120px;
}

.navbar-logo {
    color: #1E1E1E;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
}

.navbar-icon {
margin-right: 0.5rem;
transition: all 0.4s ease-out;
}

.nav-menu {
display: flex;
align-items: center;
justify-content: center;
list-style: none;
text-align: center;
justify-content: flex-end;
}

.nav-item {
height: 80px;
border-bottom: 2px solid transparent;
}

.fa-bars {
color: #1E1E1E;
}

.menu-icon {
display: none;
}

button[disabled='true']{
    cursor: not-allowed;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    margin: 10% 0;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

textarea#comment:focus{
    transition: 0.6s;
    min-height: 80px;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }
    .navbar, .navbar.active ,.navbar-container{
        height: 75px;
    }

    .navbar.active .menu-icon{
        background:transparent;
    }
    .navbar.active .menu-icon svg{
        background:transparent;
        color: #FFFEF2 !important;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 70px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
        font-weight: 400;
        font-size: 1.5rem;
    }

    .nav-item:hover {
        border: none;
    }

    .nav-item {
        width: 100%;
    }

    .fa-times {
        color: #1E1E1E;
        font-size: 2rem;
    }

    .nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
    }

    .form-content, .form, .form-row {
        width: 100%;
    }
    .form-inputs {
        display: block;
        padding: 3% 0;
    }
    .form-row {
        display: block;
    }
    .form-input {
        width: 100%;
    }
    #form-contain-btn {
        width: 100%;
        margin-bottom: 15%;
    }
    .form-label {
        font-size: 20px;
    }
    .input-error {
        position: initial;
    }
    .form-input-btn {
        font-size: 1.5rem;
    }
}


@media screen and (min-width: 1200px) and (max-width:1400px) {
    .form-label {
        font-size: 1.3rem;
    }
    .form-input-btn {
        border: 1px solid #75DED7;
        background: #75DED7;
        color: #ffffff;
        font-size: 1.4rem;
    }
}
