
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'HeroSection.css';
@import 'Error.css';
@import 'Navbar.css';
@import 'Slider.css';
@import 'VistaProducto.css';
@import 'Producto.css';
@import 'Recomendado.css';
@import 'Models.css';
@import 'Empresa.css';
@import 'Footer.css';

@layer utilities {
    ::selection {
        background: #75DED7;
        color: #fff;
    }

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Barlow';
    }

    .scrollbar-thumb-geodeco {
        --scrollbar-thumb: #9e9e9e !important;
    }

    body, html {
        background: #ffffff;
        height: auto;
        margin: 0;
    }

    .carousel .control-dots .dot.selected{
        background: #75DED7;
        outline: none;
    }
    .slider-redes{
        width: 40%;
        position: absolute;
        margin-top: -44%;
        margin-left: 9.3%;
        z-index: 2;
    }
    li.slider{
        text-decoration: none;
        outline:none;
    }
    .slider video{
        width: 101%;
        height: auto;
        outline:none;
        border: none;
        text-decoration: none;
    }

    .slider-button{
        color: #FFFEF2;
        background: #75DED7;
        border-radius: 9px;
        border: none;
        box-shadow: none;
        font-size: 2rem;
        padding: 8px 18px;
        font-weight: 500;
        outline: none;
        cursor: pointer;
        z-index: 5;
        margin-right: auto;
        display: block;
        margin-top: 18%;
    }

    .slider-icon-redes{
        margin-top: 20%;
        text-align: left;
        display: flex;
    }

    .slider-icon-redes a{
        color: #75DED7;
        font-size: 1.5rem;
        text-decoration: none;
        outline: none;
        margin-right: 9%;
    }

    .cont-title-sections{
        width: 100%;
        text-align: center;
        margin: 0 0 5% 0;
    }

    .title-sections{
        font-family: 'Playfair Display', serif;
        font-size: 3.2rem;
        font-weight: 400;
        position:relative;
        display:inline-block;
        width: 80%;
        color: #fffef2;
        letter-spacing: 1.8px;
    }
    .title-sections::before, .title-sections::after {
        content:' ';
        display:block;
        position:absolute;
        top: 55%;
        left:-120px;
        width: 46%;
        height:3px;
        border:none;
        background: rgb(190,150,93);
        background: linear-gradient(90deg, rgba(190,150,93,1) 0%, rgba(151,111,64,1) 35%, rgba(255,203,133,1) 68%, rgba(151,111,64,1) 100%);
    }
    .title-sections::after {
        left:auto; right:-120px;
    }

    #exept-title-modelos::before, #exept-title-modelos::after{
        width: 36%;
    }

    #exept-title-sistemas::before, #exept-title-sistemas::after {
        width: 29%;
    }

    #exept-title-showroom::before, #exept-title-showroom::after {
        width: 43%;
    }

    .bg-geodeco{
        background:#01e1d9;
    }

    .text-geodeco {
        color: #01e1d9;
    }

    .bg-header-nav{
        background:#302b62;
    }

    .backend-gradient{
        background: #0F0C29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243E, #302B63, #0F0C29);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243E, #302B63, #0F0C29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    @media screen and (max-width:767px){
        .carousel-root {
            margin-top: 20.5% !important;
        }
        .slider-redes {
        width: 100%;
        position: absolute;
        z-index: 2;
        margin-top: -109%;
        margin-left: 0;
        }
        .slider-button{
        font-size: 1rem;
        padding: 5px 12px;
        margin-top: 19px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        }
        #info-1{
        }
        #info-2{

        }
        #info-3{
        margin-top: 76%;
        }
        .slider-icon-redes {
        display: none;
        }
        .carousel .control-dots {
        margin: 5px 0;
        }

        .title-sections{
        font-size: 1.8rem;
        margin-top: 20%;
        }
        .cont-title-sections {
        width: 100%;
        }
        .title-sections::before, .title-sections::after {
        width: 25%;
        }
        #exept-title-modelos::before, #exept-title-modelos::after {
        width: 6%;
        }
        .title-sections::before, .title-sections::after {
        left: -18px;
        }
        .title-sections::after {
        left: auto;
        right: -15px;
        }
    }

    @media screen and (min-width: 1200px) and (max-width:1400px) {
        .container {
            padding-right: 105px !important;
            padding-left: 105px !important;
            max-width: 99% !important;
        }
        .title-sections {
        font-size: 2.8rem;
        }
        .title-sections::before {
        left: -84px;
        }
        .title-sections::after{
        right: -84px;
        }
        #exept-title-modelos::before, #exept-title-modelos::after {
        width: 30%;
        }
    }
}
