#empresa{
    padding: 0rem 0 0;
}
#empresa .cards__wrapper{
    max-width: 100%;
    /*background: url('../../assets/images/showroom/fondo_showroom.jpg');*/
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 7% 9.5% 0;
    display: flex;
    margin: 0 0 0px;
}

.nosotros__banner{
    width: 46%;
    margin-left: 17%;
}

.nosotros__titulo{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 4.5rem;
    margin-bottom: 25px;
    text-align: left;
}
.nosotros__texto{
    text-align: left;
    font-size: 1.8rem;
    line-height: 1.05;
    font-weight: 300;
}
.collapse-css-transition {
    transition: height 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-down {
    fill: #011227;
    transition: transform 600ms cubic-bezier(0, 1, 0, 1);
    width: 100%;
    height: 100%;
    padding: 25%;
}

.empresa__somos span, .empresa__elegir span{
    background: #fffef2;
    float: left;
    width: 72px;
    height: 70px;
}

#empresa .cont-title-sections{
    margin: 0;
}

.is-open {
    transform: rotate(.5turn);
}
.empresa__somos button, .empresa__elegir button{
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
    width: 80%;
    transition: all 0.4s ease-out;
    background:#bcad93;
    color: #fffef2;
    border: none;
    height: 70px;
    margin-bottom: 6.5%;
}
.empresa__somos button p, .empresa__elegir button p{
    font-family: 'Barlow', sans-serif;
    font-size: 2.3rem;
    padding: 12px 0;
    font-weight: 400;
    letter-spacing: 1.5px;
    height: 70px;
    text-align: center;
}

.empresa__somos button.boton-open, .empresa__elegir button.boton-open{
    width: 100%;
    transition: all 0.4s ease-out;
    background:#dbb569;
    height: 70px;
}

.texto__empresa{
    color: #fffef2;
    font-size: 2.1rem;
    text-align: center;
}

.elegirnos__empresa{
    list-style: none;
}

.elegirnos__empresa li{
    color: #fffef2;
    font-size: 2.1rem;
    text-align: center;
}

.tu__empresa{
    width: 50%;
    padding: 0 0%;
    min-height: 390px;
}

#exept-title-empresa::before, #exept-title-empresa::after{
    width: 35%;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .nosotros__titulo{
        font-size: 4rem;
    }
    .nosotros__texto{
        font-size: 1.4rem;
        line-height: 1.1;
    }
    .nosotros__banner {
        width: 59%;
        margin-left: 3%;
    }
    #empresa .cards__wrapper{
        padding: 10% 8% 0;
    }

}

@media screen and (max-width:767px){
    #empresa {
        padding-right: 15px;
        padding-left: 15px;
    }
    .tu__empresa {
        width: 100%;
        min-height: auto;
    }
    .empresa__somos button, .empresa__elegir button, .empresa__somos button.boton-open, .empresa__elegir button.boton-open, .empresa__somos span, .empresa__elegir span {
        height: 65px;
    }
    #empresa .cards__wrapper {
        background-position: center;
        background-size: inherit;
        display: block;
        padding: 10% 0% 15%;
    }
    .empresa__somos button p, .empresa__elegir button p {
        font-size: 1.3rem;
        width: 100%;
        padding: 18px 0;
    }
    .empresa__somos button, .empresa__elegir button {
        width: 100%;
    }
    .texto__empresa,.elegirnos__empresa li {
        font-size: 1.2rem;
    }
    #exept-title-empresa::before, #exept-title-empresa::after {
        width: 8%;
    }
    .nosotros__titulo {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 10px;
    }
    .nosotros__banner {
        width: 100%;
        margin: auto;
        padding: 5% 30% 0;
    }
    .nosotros__texto {
        text-align: center;
        font-size: 1.1rem;
    }
}
