.contenedor__error{
    margin-top: 12%;
    display:flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 5.5%;
}

.aviso__error{
    width: 50%;
}

.title__error{
    color : #75DED7;
    font-size: 6rem;
    font-weight: 700;
    margin: 8% 0;
}

.subtitle_error{
    font-size: 2rem;
    line-height: 1.2;
}

.error_btn{
    width: 27%;
    margin: 12% 0;
    border: 1px solid #75DED7;
    background: #75DED7;
    font-size: 1.7rem;
    color: white;
    padding: 0.55rem 2rem;
    border-radius: 1px;
    cursor: pointer;
    outline: none;
    font-weight: 200;
    display: block;
    text-align: center;
}
.img__error{
    margin-left: 11%;
    width: 39%;
    height: auto;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .title__error {
        font-size: 5rem;
        margin: 7% 0;
    }
    .aviso__error {
        width: 60%;
    }
    .subtitle_error {
        font-size: 1.5rem;
    }
    .error_btn {
        width: 27%;
        font-size: 1.5rem;
        padding: 0.55rem 2rem;
    }
}

@media screen and (max-width: 767px) {
    .contenedor__error {
        display: grid;
        margin-top: 15%;
    }
    .aviso__error {
        order: 2;
        width: 100%;
    }
    .img__error {
        margin-left: 0;
        width: 100%;
        height: auto;
        padding: 18%;
    }
    .title__error {
        font-size: 3.5rem;
        margin: 5px;

    }
    .subtitle_error {
        font-size: 1.1rem;
    }
    .error_btn {
        width: 100%;
    }
}