.footer-container {
    background: #000000;
    color: #fffef2;
    padding: 3rem 0px 0rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: #fffef2;
  }

  .footer-subscription > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  .footer-subscription-heading {
    margin-bottom: 24px;
    font-size: 24px;
  }

  .footer-subscription-text {
    margin-bottom: 24px;
    font-size: 20px;
  }

  .footer-input {
    padding: 8px 24px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fffef2;
  }

  .footer-links {
    background: #000000;
    width: 100%;
    max-width: 83.3%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-link-wrapper1 {
    background: #000000;
    display: flex;
    width: 58%;
  }
  .footer-link-wrapper2 {
    background: #000000;
    display: flex;
    width: 42%;
  }

  .footer-link-wrapper2 .footer-link-items:nth-child(1){
    width: 70%;
  }

  .footer-link-wrapper2 .footer-link-items:nth-child(2){
    width: 34%;
  }
  /* .ubi-exception{
    font-size: 1.1rem !important;
  } */
  .footer-link-items {
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
    text-align: left;
    width: inherit;
    box-sizing: border-box;
  }

  .footer-link-items h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    font-size: 2.9rem;
    margin-bottom: 30px;
  }

  .footer-link-items > h2 {
    background: #000000;
    color: #fffef2;
  }

  .footer-link-items a {
    background: #000000;
    color: #fffef2;
    text-decoration: none;
    font-size: 1.7rem;
    margin: 3% 0 4%;
    display: flex;
    flex: inherit;
    font-weight: 300;
  }

  .footer-link-items a svg{
    background: #000000;
    color: #75DED7;
    margin: auto;
    width: 50px;
  }

  .footer-link-items a:hover {
    color: #fffef2;
    transition: 0.3s ease-out;
  }

  .footer-email-form h2 {
    margin-bottom: 2rem;
  }

  .footer-link-items p{
    background: transparent;
    display: grid;
    font-size: 1.8rem;
    margin: 3% 0;
  }

  .footer-link-items p b{
    background: transparent;
    font-weight: 400;
    font-size: 1.9rem;
  }

  .footer-input::placeholder {
    color: #b1b1b1;
  }

  /* Social Icons */
  .social-icon-link {
    color: #fffef2;
    font-size: 24px;
  }

  .social-media {
    max-width: 1000px;
    width: 100%;
  }

  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }

  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }

  .social-logo {
    color: #fffef2;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .website-rights {
    color: #fffef2;
    margin-bottom: 16px;
  }

  .footer-link-wrapper1 .footer-link-items{
    width: 100%;
    margin: 0px 0 25px;
  }

  .footer-logo-icon{
    width: 65%;
    flex: 1;
    align-self: flex-end;
    margin-right: 23%;
    margin-top: 50%;
    cursor: pointer;
  }

  .footer-logo-icon.active{
    margin-top: 60%;
  }

  .label__direc{
    text-decoration: underline;
    margin-top: 7%;
  }

  .footer-coopiri{
    width: 100%;
    background: #75DED7;
    text-align: center;
    padding: 2.5rem;
    margin-top: 1%;
  }
  .footer-text-coopiri{
    font-size: 1.7em;
    font-weight: 400;
    color: white;
    outline:none;
    text-decoration:none;
    border:none;
  }
  .afip-foot{
    width: 45% !important;
    margin-top: 34%;
  }

  .slider-icon-redes-footer{
    display: none;
  }
@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
    width: 100%;
    max-width: 95%;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }

  .footer-input {
    width: 100%;
  }

  .footer-link-wrapper2 .footer-link-items:nth-child(1) ,.footer-link-wrapper2 .footer-link-items:nth-child(2){
    width: 100%;
  }

  .footer-link-wrapper1, .footer-link-wrapper2 {
    width: 100%;
    display: inline-block;
    text-align: left;
    align-items: center;
  }

  .social-media-wrap {
    flex-direction: column;
  }

  .footer-link-items {
    width: 100%;
    display: inline-block;
    margin: 16px 0;
  }
  .footer-link-items h2 {
    font-size: 1.9rem;
    text-align: left;
  }
  .footer-link-items a{
    font-size: 18px;
    padding: 1px 0%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .footer-link-items a svg {
    width: 20px;
    height: 28px;
    padding: 0;
    margin: 0;
    padding-right: 5px;
}
  .footer-link-items p b {
    font-size: 1.4rem;
  }
  .footer-link-items p{
    font-size: 1.1rem;
    padding: 1px 0%;
    text-align: left;
  }

  .label__direc{
    text-align: left;
    width: 100%;
    display: block;
  }

  .footer-container {
    padding: 1rem 0px 0rem 0px;
  }
  .footer-logo-icon {
    width: 45%;
    margin-top: 35%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .footer-logo-icon.active {
    margin-top: 35%;
  }
  .footer-logo-link{
    padding: 0 25% !important;
  }
  .footer-coopiri {
    padding: 2rem 2rem;
  }
  .footer-text-coopiri {
    font-size: 1em;
  }
  .afip-foot {
    width: 20% !important;
    margin-top: 15%;
  }
  #contact__models{
    padding-right: 15px;
    padding-left: 15px;
  }

  .slider-icon-redes-footer {
    display: flex;
    width: 60%;
    margin-top: 5%;
  }

  .slider-icon-redes-footer a{
    margin-left: 0;
    margin-right: 30px;
    margin-top: 6%;
    font-size: 1.4rem;
  }

  .slider-icon-redes-footer a svg{
    color: #DBB569;
  }
}

@media screen and (min-width: 2400px) {
  .footer-link-wrapper1 {
    width: 80%;
  }
  .footer-link-wrapper2 .footer-link-items:nth-child(2) {
    width: 31%;
  }
  .footer-link-wrapper2 .footer-link-items:nth-child(1) {
    width: 73%;
  }

  .footer-logo-icon {
    margin-top: 142%;
  }
}

@media screen and (min-width: 1200px) and (max-width:1400px) {
  .footer-links {
    max-width: 86%;
  }
  .footer-link-items {
    margin: 0 0;
  }
  .footer-link-items h2 {
    font-size: 2rem;
  }
  .footer-link-items p b{
    font-size: 1.4rem;
  }
  .footer-link-items a ,.footer-link-items p{
    font-size: 1.2rem;
  }
  .footer-link-wrapper2 .footer-link-items:nth-child(1) {
    width: 65%;
  }
  .footer-link-wrapper2 .footer-link-items:nth-child(2) {
    width: 35%;
  }
  .footer-logo-icon {
    margin-right: 10%;
    margin-top: 142%;
  }
  .footer-link-wrapper1 {
    width: 65%;
  }
  .footer-link-wrapper2 {
    width: 35%;
  }
  .footer-text-coopiri {
    font-size: 1.5rem;
  }
  .footer-coopiri {
    padding: 2.5rem;
  }
}
