.contenedor-preloader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background: #1e1e1e;
}

.contenedor-preloader video{
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
}

@media screen and (max-width: 768px) {
    .contenedor-preloader {
    }
    .contenedor-preloader video{
        width: 70%;
    }
}