#navbar__model ,.navbar ul.lista__modelos {
    background: #1e1e1e;
}

.title-sections-model {
    font-family: 'Playfair Display', serif;
    font-size: 3.2rem;
    font-weight: 400;
    position: relative;
    display: inline-block;
    width: 93.9%;
    color: #fffef2;
    letter-spacing: 1.8px;
    text-align: initial;
}
.title-sections-model::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 55%;
    left: auto;
    right: 6px;
    width: 84%;
    height:3px;
    border:none;
    background: rgb(190,150,93);
    background: linear-gradient(90deg, rgba(190,150,93,1) 0%, rgba(151,111,64,1) 35%, rgba(255,203,133,1) 68%, rgba(151,111,64,1) 100%);
}

.seccion__modelo__description{
    margin-top: 6%;
    max-width: 100%;
    padding-right: 153px;
    padding-left: 128px;
    display: flex;
}

#except__desc__model::after {
    width: 92%;
    right: -245px;
}

.seccion__caracteristicas__modelo{
    width: 72%;
    padding-right: 12%;
    padding-left: 3%;
}

.seccion__especificaciones__modelo{
    width: 28%;
}

.arrow__especificaciones{
    width: 4%;
    margin-right: 2%;
}

.texto__especificaciones__modelo{
    color: #FFFEF2;
    font-size: 2rem;
}

.titulo__especificaciones{
    color: #DBB569;
    font-size: 2.7rem;
}

.texto__caracteristicas{
    color: #FFFEF2;
    font-size: 2rem;   
}

#except__caracte_{
    margin-top: 0%;
    margin-bottom: 5%;
}

.seccion__modelo__galeria .image-gallery-thumbnail {
    width: 325px;
    height: auto;
    overflow: hidden;
}

.seccion__modelo__galeria .image-gallery-thumbnail .image-gallery-thumbnail-image {
    width: 100%;
    margin-left: -30%;
}

.seccion__modelo__galeria .image-gallery-thumbnail{
    filter: brightness(0.5);
    border: 15px solid transparent;
    cursor: pointer;
}

.seccion__modelo__galeria .image-gallery-thumbnail.active {
    filter: brightness(1);
}

.seccion__modelo__galeria .image-gallery-thumbnail.active, .seccion__modelo__galeria .image-gallery-thumbnail:hover,.seccion__modelo__galeria .image-gallery-thumbnail:focus {
    border: 15px solid transparent;
}

.seccion__modelo__galeria .image-gallery-thumbnails .image-gallery-thumbnails-container {
    padding-left: 8.5%;
    text-align: left;
    margin-top: 1%;}

.seccion__modelo__galeria .image-gallery-left-nav, .seccion__modelo__galeria .image-gallery-right-nav {
    transform: translateY(0%);
    position: absolute;
    top: 106%;
    margin: 1%;
}

.seccion__modelo__galeria .image-gallery-left-nav .image-gallery-svg, .seccion__modelo__galeria .image-gallery-right-nav .image-gallery-svg{
    height: 35px;
    width: 35px;
    font-weight: bold;
    background: #ffffff47;
    border-radius: 55px;
    padding: 0;
    stroke-width: 2px;
    outline: none;
}
.seccion__modelo__galeria .image-gallery-left-nav .image-gallery-svg{
    padding: 2px 3px 2px 0px;
}

.seccion__modelo__galeria .image-gallery-right-nav .image-gallery-svg{
    padding: 2px 0px 2px 3px;
}
.seccion__modelo__galeria{
    margin-top: 6%;
}

.seccion__modelo__galeria .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(85vh - 55px);
    margin-left: 14.1%;
    cursor: pointer;
}

.seccion__caracteristicas__principales{
    position: absolute;
    z-index: 50;
    background:#1e1e1e;
    margin-top: -42%;
    padding: 0% 2% 1%;
    margin-left: 7.2%;
    animation-name: mover_titulo;
    animation-duration:1s;
    animation-timing-function:linear;
}

@keyframes mover_titulo{
    from{
        transform: translateX(-14rem);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.seccion__caracteristicas__principales .titulo__modelo_{
    font-family: 'Playfair Display', serif;
    color: #fffef2;
    font-size: 4.9rem;
    letter-spacing: 2px;
    animation-name: mover_titulo_1;
    animation-duration:2s;
    animation-timing-function:linear;
}


.seccion__caracteristicas__principales .titulo__subtitulo_{
    color: #DBB569;
    font-size: 3.1rem;
    margin-bottom: 18%;
    letter-spacing: 3px;
    animation-name: mover_titulo_1;
    animation-duration:2s;
    animation-timing-function:linear;
}

.seccion__caracteristicas__principales .titulo__espacios_{
    color: #fffef2;
    font-size: 1.9rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    animation-name: mover_titulo_1;
    animation-duration:2s;
    animation-timing-function:linear;
}

@keyframes mover_titulo_1{
    0%{
        transform: translateY(2rem);
        opacity: 0;
    }
    99%,100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.seccion__modelo__galeria .image-gallery-index{
    font-family: 'Barlow', sans-serif;
    bottom: 0;
    top: auto;
    background: #DBB569;
    color: #011227;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1% 4%;
    width: 14%;
    text-align:center;
    display: block;
}


.img-modelo-flechas{
    width: 11%;
    cursor: pointer;
    position: absolute;
    margin-top: 2%;
}

#img-modelo-izquierda{
    left: 18%;
}

#img-modelo-derecha{
    right: 18%;
}

.react-images__dialog .react-images__container .react-images__pager .react-images__view-wrapper .react-images__view img{
    width: 92%;
    padding:0 5%;
}

@media screen and (max-width:767px){
    .seccion__caracteristicas__principales {
        position: relative;
        margin-top: 0%;
        margin-left: 2.2%;
        animation-name: mover_titulo_mobile;
    }
    .seccion__modelo__galeria .image-gallery-swipe{
        display: none;
    }
    .title-sections-model {
        font-size: 1.9rem;
        width: 100%;
    }
    .seccion__modelo__description {
        margin-top: 6%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        display: block;
    } 
    #except__desc__model::after {
        width: 34%;
        right: 4px;
    } 
    .texto__caracteristicas {
        color: #FFFEF2;
        font-size: 1.2rem;
    } 
    .seccion__modelo__galeria .image-gallery-left-nav, .seccion__modelo__galeria .image-gallery-right-nav {
        transform: translateY(0%);
        position: absolute;
        top: 0;
        margin: 0%;
        margin-top: 28%;
        padding: 50px 0;
    }
    .seccion__modelo__galeria .image-gallery-thumbnail .image-gallery-thumbnail-image {
        width: 100%;
        margin-left: 0;
    }
    .seccion__modelo__galeria .image-gallery-thumbnails .image-gallery-thumbnails-container {
        padding-left: 0;
        text-align: center;
    }
    .seccion__caracteristicas__principales .titulo__modelo_ {
        font-size: 2.5rem;
        animation-duration: 1.5s;
}  
    .seccion__caracteristicas__principales .titulo__subtitulo_ {
        font-size: 1.8rem;
        margin-bottom: 8%;
        animation-duration: 1.5s;
    } 

    .seccion__caracteristicas__principales .titulo__espacios_ {
        color: #fffef2;
        font-size: 1.4rem;
        animation-duration: 1.5s;
    } 
    .seccion__modelo__galeria .image-gallery-thumbnail {
        width: 100%;
        height: 100%;
        margin-top: 15%;
    }
    
    @keyframes mover_titulo{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    .seccion__caracteristicas__modelo {
        width: 100%;
        padding-right: 1%;
        padding-left: 0;
    }
    .seccion__especificaciones__modelo {
        width: 100%;
        margin-top: 10%;
    }
    .texto__especificaciones__modelo {
        color: #FFFEF2;
        font-size: 1.2rem;
    }
    .titulo__especificaciones {
        font-size: 1.8rem;
    }
    .arrow__especificaciones {
        width: 4%;
        margin-right: 3%;
        margin-left: 0;
    }
    .title-sections-model::after {
        width: 45%;
        right: 20px;
    }
}

@media screen and (min-width: 1200px) and (max-width:1400px) {
    .seccion__modelo__galeria .image-gallery-content .image-gallery-slide .image-gallery-image {
        max-height: calc(92vh - 40px);
        margin-left: 6.6%;
    }
    .seccion__modelo__galeria .image-gallery-index {
        font-size: 1rem;
    }
    .seccion__caracteristicas__principales {
        margin-top: -48%;
    }
    .seccion__caracteristicas__principales .titulo__modelo_ {
        font-size: 2.8rem;
    }
    .seccion__caracteristicas__principales .titulo__subtitulo_ , .titulo__especificaciones{
        font-size: 1.8rem;
    }  
    .seccion__caracteristicas__principales .titulo__espacios_ , .texto__caracteristicas , .texto__especificaciones__modelo{
        font-size: 1.5rem;
    }
    .title-sections-model {
        font-size: 2.5rem;
    }  
    .seccion__modelo__description {
        padding-right: 128px;
        padding-left: 95px;
    }
    .seccion__caracteristicas__modelo {
        width: 70%;
    }
    .seccion__especificaciones__modelo {
        width: 30%;
    }
    #except__desc__model::after {
        width: 88%;
        right: -190px;
    }
    .title-sections-model::after {
        right: -3px;
        width: 79%;
    }
}