.navbar {
    background: #000000;
    height: 110px;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    padding-top: 1%;
    transition: all 0.4s ease-out;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.navbar.active{
    background: #1E1E1E;
    color: #FFFEF2;
    transition: all 0.4s ease-out;
    padding-top: 0;
    height: 85px;
}


.navbar.active .navbar-container, .navbar.active .navbar-container .navbar-logo, .navbar.active .nav-menu .nav-item ,.navbar.active .nav-menu .nav-item .nav-links{
    background: transparent;
    color: #FFFEF2;
}

.navbar.active .navbar-logo .navbar-logo-icon{
    width: 51%;
    transition: all 0.4s ease-out;
    margin-top: 5px;
}

.container {
    z-index: 1;
    width: 100%;
    max-width: 94%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.navbar-logo {
    color: #1E1E1E;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
}

.navbar-logo-icon{
    width: 53%;
    margin-top: -8px;
    background: transparent;
    margin-left: -6%;
}
.slider-icon-redes-header{
    display: none;
}
.navbar-icon {
margin-right: 0.5rem;
transition: all 0.4s ease-out;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
}

.nav-item {
    height: 80px;
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    opacity: 0.8;
}

.nav-links {
    color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 0rem 0.5rem 5rem;
    height: 100%;
    font-size: 1.7rem;
    font-weight: 300;
    cursor: pointer;
    text-transform: uppercase;
}

.fa-bars {
color: #1E1E1E;
}

.menu-icon {
display: none;
}

ul.lista__modelos{
    display: none;
    top: 100%;
    left: 0;
    padding: 0;
    list-style: none;
    margin-right: -5rem;
    background: #000000;
}

ul.lista__modelos a {
    line-height: 50%;
    display: block;
    color: #FFFEF2;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding: 15px 15px;
}

#dropdown_modelo:hover ul.lista__modelos{
    display: block;
}
.navbar.active ul.lista__modelos {
    transition: all 0.3s ease-out;
    background: #000000;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }
    .navbar, .navbar.active ,.navbar-container{
        height: 65px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .navbar.active .menu-icon{
        background:transparent;
    }
    .navbar .menu-icon svg {
        background: transparent;
        color: #FFFEF2 !important;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 70px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 1;
        background: #000000;
        display: flex;
        flex-direction: column-reverse;
    }
    .navbar.active .nav-menu.active{
        background: #000000;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        font-weight: 400;
    }

    .nav-links:hover {
        color: #75DED7;
        transform: scale(1.2);
        transition: all 0.3s ease;
    }

    .nav-item:hover {
        border: none;
    }

    .nav-item {
        width: 100%;
    }
    .navbar-logo-icon, .navbar.active .navbar-logo .navbar-logo-icon{
        width: 40% !important;
        margin-left: 0;
        margin-top: 0px !important;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0%, 20%);
    }

    .menu-icon {
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-60%, 45%);
        font-size: 2.5rem;
        cursor: pointer;
        margin-right: -9px;
    }

    .fa-times {
        color: #1E1E1E;
        font-size: 2rem;
    }

    .nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
    }

    #dropdown_modelo:hover ul.lista__modelos {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: -5px;
        max-height: 350px;
        overflow-x: auto;
        overflow-y: scroll;
        margin-bottom: 5%;
        height: 280px;
        background: #1c1c1c;
    }

    #inicializado{
        order: 3;
    }
    #contacten{
        order: 2;
    }
    #dropdown_modelo{
        order: 1;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    .navbar.active .navbar-logo .navbar-logo-icon{
        width: 45% !important;
        margin-top: 10px !important;
    }
    .nav-links {
        padding: 0.5rem 0rem 0.5rem 4rem;
        font-size: 1.6rem;
    }
    .navbar {
        height: 100px;
    }
}
