.image__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.producto__list {
    width: 92%;
    height: 500px;
    margin: 24px;
    cursor: pointer;
}

.producto__list:hover {
    filter: brightnes (75%);
}

.container__productos {
    width: 100%;
    max-width: 83.3%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
}

.producto__content {
    width: 33.3%;
    padding-bottom: 3%;
}

.titulo__producto {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 2.7rem;
    text-align: center;
    color: #000000;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.titulo__producto:first-letter {
    text-transform: uppercase;
}

.categoria__producto {
    font-size: 1.5rem;
    text-align: center;
    color: #AEB9BB;
    font-weight: 300;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.categoria__producto:first-letter {
    text-transform: uppercase;
}

.categoria__producto__show__btn {
    font-size: 1.5rem;
    text-align: center;
    color: #AEB9BB;
    font-weight: 300;
    line-height: 1;
}

.boton__producto__content {
    display: block;
    width: 15%;
    margin: auto;
    text-align: center;
    margin-bottom: 8%;
}

.show_more_btn {
    border: 1px solid #75DED7;
    background: #75DED7;
    font-size: 1.7rem;
    color:white;
    padding: 8px 4rem;
    border-radius: 1px;
    cursor: pointer;
    outline: none;
    font-weight: 200;
}

.show_product_btn {
    width: 89%;
    margin: 20px 30px;
    border: 1px solid #75DED7;
    background: #75DED7;
    font-size: 1.7rem;
    color:white;
    padding: 1rem 4rem;
    border-radius: 1px;
    cursor: pointer;
    outline: none;
    font-weight: 200;
    display: block;
    text-align: center;
}
.producto__content__hidden{
    display:none;
}
.img__link{
    text-decoration: none;
    outline: none !important;
    border: none;
    width: 100%;
}
.producto__content__visible{
    display:block;
}

#lista_categoria{
    padding-top: 110px;
}

.producto__oferta{
    position: absolute;
    width: auto;
    margin: 0px 23px;
    margin-top: -9%;
}
.skeleton__image{
    background-color: #75DED7 !important;
    background-image: linear-gradient(90deg,#75DED7,#96e3de,#75DED7) !important;
    margin:28px;
    width:89.5% !important;
    height:500px;
}
.skeleton__text{
    background-color: #75DED7 !important;
    background-image: linear-gradient(90deg,#75DED7,#96e3de,#75DED7) !important;
    width:89.5% !important;
}

@media screen and (min-width: 1200px) and (max-width:1400px) {
    .container__productos{
        max-width: 89%;
    }
    .boton__producto__content {
        width: 18%;
        margin-bottom: 7%;
    }
    .show_more_btn {
        font-size: 1.4rem;
    }
    .producto__list {
        height: 415px;
        margin: 15px;
    }
    .producto__oferta {
        margin: 0px 14px;
        margin-top: -9.55%;
    }
    .titulo__producto {
        font-size: 2rem;
    }
    .categoria__producto {
        font-size: 1.5rem;
    }
    .skeleton__image{

        width:89.5% !important;
        height: 415px;
        margin: 20px;
    }
    .skeleton__text{
        width:89.5% !important;
    }
    .show_product_btn{
        font-size: 1.5rem;
        width: 90%;
        margin: 20px 19px;
    }
    #lista_categoria{
        padding-top: 100px;
    }
}
@media screen and (max-width: 767px){
    .container__productos {
        max-width: 100%;
    }
    .image__container {
        display: block;
    }
    .producto__content {
        width: 100%;
        margin: 12% 0;
    }
    .producto__list {
        width: 100%;
        height: 300px;
        margin: 0;
    }
    .producto__oferta {
        width: 85px;
        margin: -1px;
        margin-top: -30.1%;
    }
    .boton__producto__content {
        width: 100%;
        margin-bottom: 15%;
    }
    .show_more_btn {
        font-size: 1.4rem;
    }
    .show_product_btn{
        width: 75%;
        font-size: 1.4rem;
        margin: 10px auto 0;
    }
    .skeleton__image {
        width: 100% !important;
        height: 300px;
        margin: 0px;
    }
    .skeleton__text {
        width: 100% !important;
        margin-top: 4px;
    }
    .titulo__producto {
        font-size: 1.8rem;
        margin-top: 8px;
    }
    .categoria__producto {
        font-size: 1.3rem;
    }
}


@media screen and (min-width: 2200px){
    .producto__list , .skeleton__image{
        height: 600px;
    }
    .producto__oferta {
        margin-top: -8.7%;
    }
}
