#products_recomendados{

}

.titulo__producto__recomendado{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 2.8rem;
    text-align: center;
    color: #000000;
    line-height: 1;
}

@media screen and (min-width: 1200px) and (max-width:1400px) {
    .titulo__producto__recomendado {
        font-size: 2.1rem;
    }
}
@media screen and (max-width: 767px){
    .titulo__producto__recomendado {
        font-size: 1.5rem !important;
        margin-top: 15%;
        padding: 0 5%;
    }
}