.carousel-root{
    margin-top:5.5%;
}

.slider__home{
    width: 100%;
}
.slider-texto{
    text-align:center;
    color:#ffffff;
    margin-top: -22.5%;
    position: absolute;
    width: 100%;
}
.slider-texto .primer__text{
    font-size: 3rem;
    font-weight: 200;
}
.slider-texto .segundo__text{
    font-size: 5.8rem;
    font-weight: 400;
    line-height: 0.8;
}
.titulo__slider__home{
    font-family: 'Playfair Display', serif;
    color: #fffef2;
    text-align: left;
    font-size: 4rem;
    font-weight: 400;}

.subtitulo__slider__home{
    text-align: left;
    color: #dbb569;
    font-size: 2.2rem;
    margin-top: 4%;
}

@media screen and (max-width:767px){
    .slider-texto{
        margin-top: -22rem;
    }
    .slider-texto .primer__text {
        font-size: 2.2rem;
    }
    .slider-texto .segundo__text {
        font-size: 4.5rem;
        line-height: 1;
    }
    .titulo__slider__home {
        text-align: center;
        font-size: 1.5rem;
        padding: 0 11%;
    }
    .subtitulo__slider__home {
        text-align: center;
        color: #dbb569;
        font-size: 0.9rem;
        margin-top: 3%;
        padding: 0px 5%;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .carousel-root {
        margin-top: 7.3%;
    }
    .slider-texto .primer__text{
        font-size: 2rem;
    }
    .slider-texto .segundo__text{
        font-size: 4.4rem;
    }
    .slider-button {
        border-radius: 6px;
        font-size: 1.3rem;
        padding: 8px 18px;
    }
}

@media screen and (min-width: 2200px){
    .carousel-root {
        margin-top: 4.3%;
    }
}
