.contenedor__producto__show{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    margin-top: 5.5%;
}
.contenedor__producto__show .carousel-producto{
    width: 50%;
    cursor: pointer;
}
.contenedor__producto__show .slider_producto{
    width: 100%;
    height: 43vw;
}
.contenedor__producto__show .catacteristicas__producto{
    width: 50%;
    background: #eff1f1;
    padding: 3% 9%;
}

.contenedor__producto__show .carousel-root{
    margin-top:0;
}

.carousel-producto .carousel .control-dots .dot {
    opacity: 1;
    box-shadow: none;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #75DED7;
    width: 18px;
    height: 18px;
    margin: 8px;
}
.carousel-producto .carousel.carousel-slider .control-arrow {
    top: 0;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    margin-top: 0;
    padding: 0px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: auto 1.2%;
    background: #ffffff4d;
    opacity: 1;
}
.carousel-producto .carousel .control-dots .dot.selected{
    background-color: #ffffff;
}

.carousel-producto .carousel .control-prev.control-arrow:before {
    border: none;
    opacity: 1;
    content: '<';
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 500;
    font-size: 2.2rem;
    transform: scale(.6, 1);
    line-height: 1;
}

.carousel-producto .carousel .control-next.control-arrow:before {
    border: none;
    opacity: 1;
    content: '>';
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 500;
    font-size: 2.2rem;
    transform: scale(.6, 1);
    line-height: 1;
}

.content__caract__product{
    background:#ffffff;
    width: 100%;
    height: 100%;
    padding: 8%;
    position: relative;
}

.content__caract__product .title__product{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 2.8rem;
    text-align: initial;
    color: #000000;
    line-height: 1;
}
.content__caract__product .title__product:first-letter {
    text-transform: uppercase;
}

.content__caract__product .description__product{
    font-size: 1.5rem;
    text-align: initial;
    color: #AEB9BB;
    font-weight: 300;
    line-height: 1;
    text-transform: initial;
    padding-top: 3%;
    padding-bottom: 5%;
}

.content__caract__product .description__product:first-letter {
    text-transform: uppercase;
}

.content__caract__product .line__product{
    border-top-width: 2px;
    border-color: #aeb9bb;
    margin: 3% 0;
}

.contenedor__info__producto{
    display: flex;
    align-items: flex-end;
}
.contenedor__info__producto .motivo__caract__product{
    width: 40%;
    font-size: 1.5rem;
    text-align: initial;
    color: #AEB9BB;
    font-weight: 300;
    line-height: 1;
    text-transform: initial;
}

.contenedor__info__producto .text__caract__product{
    width: 60%;
    font-size: 1.5rem;
    text-align: initial;
    color: #AEB9BB;
    font-weight: 300;
    line-height: 1;
    text-transform: initial;
}

.en_descuento{
    text-decoration:line-through;
    font-style: italic;
    font-size: 1.25rem;
}
.valor__con__descuento{
    font-weight: 600;
    margin-left: 4px;
}

.badge__descuento{
    font-size: 1.1rem;
    background: #75ded7;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin: -2px 10px;
    position: absolute;
    display: inline-block;
}

.consultar__btn{
    width: 84%;
    border: none;
    background: #75DED7;
    font-size: 1.7rem;
    color: white;
    padding: 8px 4rem;
    border-radius: 1px;
    cursor: pointer;
    outline: none;
    font-weight: 200;
    position: absolute;
    bottom: 7%;
    left: 0;
    right: 0;
    margin: auto;
}

@media screen and (min-width: 1200px) and (max-width:1400px) {
    .contenedor__producto__show {
        margin-top: 7.3%;
    }
    .contenedor__producto__show .slider_producto {
        height: 50vw;
    }
    .carousel-producto .carousel .control-dots .dot {
        width: 16px;
        height: 16px;
    }
    .content__caract__product .title__product {
        font-size: 2.2rem;
    }
    .content__caract__product .description__product, .contenedor__info__producto .motivo__caract__product, .contenedor__info__producto .text__caract__product {
        font-size: 1.2rem;
    }
    .contenedor__producto__show .catacteristicas__producto {
        width: 50%;
        padding: 3% 8% 3% 3%;
    }
    .consultar__btn{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 767px){
    .contenedor__producto__show {
        display: block;
    }
    .contenedor__producto__show .carousel-producto {
        width: 100%;
    }
    .contenedor__producto__show .slider_producto {
        width: 100%;
        height: 350px;
    }
    .carousel-producto .carousel .control-prev.control-arrow:before, .carousel-producto .carousel .control-next.control-arrow:before {
        line-height: 0.8;
    }
    .carousel-producto .carousel .control-dots .dot {
        width: 14px;
        height: 14px;
    }
    .contenedor__producto__show .catacteristicas__producto {
        width: 100%;
        padding: 15% 4%;
    }
    .content__caract__product {
        padding: 8% 6%;
    }
    .content__caract__product .title__product {
        font-size: 1.8rem;
    }
    .content__caract__product .description__product, .contenedor__info__producto .text__caract__product, .contenedor__info__producto .motivo__caract__product {
        font-size: 1rem;
    }
    .en_descuento {
        font-size: 0.9rem;
    }
    .content__caract__product .line__product {
        border-top-width: 1px;
        margin: 4% 0;
    }
    .badge__descuento {
        font-size: 0.6rem;
        padding: 5px;
        border-radius: 45px;
        margin: -6px 10px;
        display: inline-block;
        width: 10%;
        text-align: center;
    }
    .consultar__btn{
        position:relative;
        margin-top: 5%;
        width: 100%;
        top: 7%;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 2200px){
    .contenedor__producto__show{
        margin-top: 4.3%;
    }
}
